:root { scroll-behavior: smooth; }

/* main text */
h1 {
    text-align: center;
    padding: 20px;
    font-family: "Libre Baskerville", serif;
    font-size: x-large;
    color: #452dce;

  }
  
  h2 {
    text-align: right;
    padding-right: 51px;
    font-family: "Libre Baskerville", serif;
    font-size: medium;
    color:rgb(19, 16, 73);
  }

  h3 {
    text-align: center;
    margin: auto;
    font-family: "Libre Baskerville", serif;
    font-size: medium;
    color: #452dce;
  }
img {
    text-align: center;
    margin: 1em auto;
    max-width: 80vw;
}

p {
  font-family: "Libre Baskerville", serif;
  margin: 1.15em auto;
  max-width: 900px;
  orphans: inherit;
  color:rgb(19, 16, 73);
}

.notebook {
  margin: 2em auto;
  padding-right: 2em;
  width: 80vw;
}

.skill {
  margin: 2em auto;
  padding-right: 2em;
  width: 80vw;
}

.choice {
margin-right: 3em;
padding-right: 3em;
width: 70vw;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .cushion {
    height: 900px;
  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .cushion {
    height: 1500px;
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {  
    .cushion {
      height: 1920px;
    }
}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .cushion {
    height: 1920px;
  }
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  .cushion {
    height: 2520px;
  }
 } 


/*Page stuff */

.title {
  margin: auto;
}

body {
  background-color: #f6b5f1;  
}

 /* unvisited link */
a {
  color: #7361fc;
}

/*skills*/
.int {
    color:rgb(3, 150, 218);
}

.fys {
    color:rgb(220, 2, 104);
}

.mot {
    color: rgb(188, 144, 11);
}

.psy {
    color: rgb(154, 29, 222); 
}

/*actions*/
.action {
  color: #56df0c;
  margin-right: 3em;
  padding-right: 3em;
  width: 70vw;
}

mark {
  background-color:#56df0c;
  color:#fffefd;
}

/*thoughts*/

.buff {
  margin-right: 5em;
  width: 80vw;
  color:rgb(137, 251, 213);
}