:root { scroll-behavior: smooth; }

/* main text */
h1 {
    text-align: center;
    padding: 20px;
    font-family: "Libre Baskerville", serif;
    font-size: 20;
    color:rgb(146, 255, 197);

  }
  
  h2 {
    text-align: right;
    padding-right: 51px;
    font-family: "Libre Baskerville", serif;
    font-size: medium;
    color:rgb(233, 233, 233);
  }

  h3 {
    text-align: center;
    margin: auto;
    font-family: "Libre Baskerville", serif;
    font-size: medium;
    color:rgb(146, 255, 197);
  }
img {
    text-align: center;
    margin: 1em auto;
    max-width: 80vw;
}

  p {
    font-family: "Libre Baskerville", serif;
    margin: 1em auto;
    max-width: 900px;
    orphans: inherit;
    color:rgb(233, 233, 233);
}

.notebook {
  margin: 2em auto;
  padding-left: 3em;
  max-width: 900px;
  font-style: italic;
}

.skill {
  margin: 2em auto;
  padding-left: 3em;
  max-width: 900px;

}

.choice {
margin-right: 3em;
padding-right: 4em;
max-width: 900px;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .cushion {
    height: 900px;
  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .cushion {
    height: 1500px;
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {  
    .cushion {
      height: 1920px;
    }
}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .cushion {
    height: 1920px;
  }
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  .cushion {
    height: 2520px;
  }
 } 


/*Page stuff */

.title {
  margin: -4em auto;
}

body {
  background-color: #292625;  
}

button {
  background-color: #46403f;
  color:rgb(146, 255, 197);
  padding: 1em;
  border: none;
  text-align: center;
  font-size: 30px;
}

 /* unvisited link */
a {
  color:rgb(146, 255, 197);
}

/*skills*/
.int {
    color:rgb(87, 175, 215);
}

.fys {
    color:rgb(220, 65, 138);
}

.mot {
    color: rgb(234, 197, 30);
}

.psy {
    color: rgb(175, 100, 215); 
}

/*actions*/
.action {
  color: #d7431f;
  margin-right: 3em;
  padding-right: 3em;
  width: 70vw;
  font-weight: bold;
}

.decision {
  background-color:#d7431f;
  color:#fffefd;
  font-weight: bold;
  padding: .2em;
}

/*thoughts*/

.thought { 
text-align: center;
margin: auto;
font-family: "Libre Baskerville", serif;
font-size: larger;
font-weight: bold;
color:rgb(146, 255, 197);
}

.buff {
  margin-right: 10vw;
  color:rgb(137, 251, 213);
}