:root { scroll-behavior: smooth; }

* {
  background-color: rgb(214, 210, 206);
}

/* main text */
h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 100;
  font-size: xx-large;
  color:rgb(3, 101, 49);
  text-align: center;
  }
  
 h2 {
  font-family: "Besley", serif;
  font-size: large;
  color:rgb(3, 119, 5);
  text-align: right;
  margin: 1em 2em;
  max-width: 900px;
  orphans: inherit;
  }

h3 {
  text-align: center;
  margin: auto;
  font-family: "Libre Baskerville", serif;
  font-size: medium;
  color:rgb(7, 188, 10);
  }

img {
  text-align: center;
  margin: 1em auto;
  max-width: 80vw;
}

p {
  font-family: "Besley", serif;
  font-size: large;
  font-weight: 400;
  margin: 1em 2em;
  max-width: 900px;
  orphans: inherit;
  line-height: 125%;
  color:rgb(0, 0, 0);
}

p.flashback {
  font-family: "Fira Mono", sans-serif;
  line-height: normal;
}

p.epigraph {
  font-family: "DM Serif Display", serif;
  margin: 1.5em auto;
  max-width: 550px;
  font-weight: 100;
  color:rgb(67, 67, 67);
}

 /* unvisited link */
a {
  color:rgb(8, 178, 87);
}

/* fonts */

/*main text font*/
.besley {
  font-family: "Besley", serif;
  font-style: normal;
}

/*flashback font*/ 
.fira-mono-regular {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.fira-mono-medium {
  font-family: "Fira Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

/*chapter title font*/
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

/*cross stitch*/
.yarndings-20-charted-regular {
  font-family: "Yarndings 20 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*wavy lines*/

.linefont {
  font-family: "Linefont", system-ui;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-variation-settings: 100;
}