:root { scroll-behavior: smooth; }

/* main text */
h1 {
    text-align: center;
    padding: 20px;
    font-family: "Libre Baskerville", serif;
    font-size: x-large;
    color:rgb(146, 255, 197);

  }
  
  h2 {
    text-align: right;
    padding-right: 51px;
    font-family: "Libre Baskerville", serif;
    font-size: medium;
    color:rgb(233, 233, 233);
  }

  h3 {
    text-align: center;
    margin: auto;
    font-family: "Libre Baskerville", serif;
    font-size: medium;
    color:rgb(146, 255, 197);
  }
img {
    text-align: center;
    margin: 1em auto;
    max-width: 80vw;
}

  p {
    font-family: "Libre Baskerville", serif;
    margin: 1.15em auto;
    max-width: 900px;
    orphans: inherit;
    color:rgb(233, 233, 233);
}

.notebook {
  margin: 2em auto;
  padding-right: 2em;
  width: 80vw;
}

.skill {
  margin: 2em auto;
  padding-right: 2em;
  width: 80vw;
}

.choice {
margin-right: 3em;
padding-right: 3em;
width: 70vw;
}

.cushion {
  height: 1920px;
}

/*Page stuff */

.title {
  margin: -4em auto;
}

body {
  background-color: #292625;  
}

.chapter2Pic {
  background-image: url('images/causewayCh2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1920px;
}

.chapter3Pic {
  background-image: url('images/causewayCh3.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1920px;
}

.chapter4Pic {
  background-image: url('images/causewayCh4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1920px;
}

.chapter5Pic {
  background-image: url('images/causewayCh5.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1920px;
}

.chapter6Pic {
  background-image: url('images/causewayCh6.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1920px;
}

.chapter7Pic {
  background-image: url('images/causewayCh7.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1920px;
}

button {
  background-color: #46403f;
  color:rgb(146, 255, 197);
  padding: 1em;
  border: none;
  text-align: center;
  font-size: 30px;
}

 /* unvisited link */
a {
  color:rgb(146, 255, 197);
}

/*skills*/
.int {
    color:rgb(87, 175, 215);
}

.fys {
    color:rgb(220, 65, 138);
}

.mot {
    color: rgb(234, 197, 30);
}

.psy {
    color: rgb(175, 100, 215); 
}