
body {
  background-image: url(/images/homeBG.jpg);
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  size: 120vw 120vh;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  background-color: #f38721;
  padding: 5px;
  margin: 50vh auto; 
  width: 80vw;
  opacity: 80%;
}

.grid-container > div {
  background-color: rgba(11, 183, 198, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  width: wrap;
}

.item1 {
  grid-area: 2 / 1 / span 2 / span 3;
}

