/*main text*/
body {
    margin: 4em;
    max-width: 99vw;
}

p {
    font-family: "Nanum Gothic Coding", Courier, monospace;
    font-optical-sizing: auto;
    font-weight: 400;    
    margin: 1.15em auto;
    text-align: justify;
    line-height: 130%;
    max-width: 95vw;
}

h1 {
    font-family: "PT Mono", Courier, monospace;
    color:rgb(2, 2, 73);
}

h2 {
    font-family: "PT Mono", Courier, monospace;
    font-size: larger;
    font-style: normal;
    color:rgb(1, 1, 45);
}

.caption {
    text-align: center;
    font-size: small;
    padding: 0;
    max-width: 65vw;
}

.dialogueH {
    padding: 1em;
    margin: auto 10vw;
    max-width: 40vw;
    font-family: "Inter Tight", Courier, monospace;
  }

.dialogueN {
    padding: 1em;
    margin: auto 15vw;
    max-width: 50vw;
    font-family: "Inter Tight", Courier, monospace;
  }


.tableOrbit {
    margin: auto;
}

img {
    margin: auto;
    text-align: center;
    max-width: 90vw;
}

.divider {
    text-align: center;
    color:#dfe8ee;
    padding: 2em;
}

/*tables*/
.tg  {
    border-collapse:collapse;
    border-spacing:0;
    margin:0px auto;
}
.tg td{
    border-style:hidden;
    font-family:"Courier New", Courier, monospace;
    font-size:13px;
    overflow:visible;
    padding:10px 5px;
    word-break:normal;
}
.tg th{
    border-style:hidden;
    font-family:"Courier New", Courier, monospace;
    font-size:13px;
    font-weight:normal;
    overflow:visible;
    padding:10px 5px;
    word-break:normal;
}
.tg .tg-ot3d{
    background-color:#DCE8FE;
    border-style:hidden;
    color:#000000;
    font-family:"Courier New", Courier, monospace !important;
    text-align:center;
    vertical-align:middle;
    }
.tg .tg-9qtj{
    border-style:hidden;
    color:#000000;
    font-family:"Courier New", Courier, monospace !important;
    text-align:left;
    vertical-align:middle;
    }
.tg .tg-2fx1{
    background-color:#C9DAF8;
    border-style:hidden;
    color:#000000;
    font-family: "Courier New", Courier, monospace !important;
    text-align:center;
    vertical-align:middle;
    }
.tg .tg-m7xg{
    background-color:#A4C2F4;
    border-style:hidden;
    color:#000000;
    font-family: "Courier New", Courier, monospace !important;
    text-align:left;
    vertical-align:middle;
    }
.tg .tg-s94p{
    background-color:#C9DAF8;
    border-style:hidden;
    color:#000000;
    font-family: "Courier New", Courier, monospace !important;
    text-align:left;
    vertical-align:middle;
    }
.tg .tg-kdyn{
    background-color:#C9DAF8;
    border-style:hidden;
    color:#000000;
    font-family: "Courier New", Courier, monospace !important;
    font-size:medium;
    text-align:left;
    vertical-align: middle;
    }

.tg .tg-gbr3{
    background-color:#ECF3FF;
    border-style:hidden;
    color:#000000;
    font-family: "Courier New", Courier, monospace !important;
    text-align:left;
    vertical-align:middle;
}
    
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}
